@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

li {
  list-style: none;
}
.book-list-main {
  background-color: burlywood;
}

.book-list-search-conteiner {
  background-color: aquamarine;
}

.book-list-search-conteiner input[type="text"]{
    font-size: 2rem;
    margin: 50px;
}

.book-list-content ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);}

.book-list-content ul li {
    background-color: blueviolet;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showBook {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 5px 10px;
  border: 1px solid black;
}