@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

nav {
    background-color: aqua;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
}

.nav-buttons {
    margin: 0 20px;
}

.nav-buttons button {
    font-size: 2rem;
    margin: 0 10px;
    background-color: transparent;
}

.nav-buttons button:hover {
    background-color: bisque;
}