@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

a {
  text-decoration: none;
  color: black;
}

.navbar {
  background-color: aqua;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
}

.nav-buttons {
  margin: 0 20px;
}

.nav-buttons a {
  font-size: 2rem;
  margin: 0 10px;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 15px;
}

.nav-buttons a:hover {
  background-color: bisque;
}

footer {
  background-color: blue;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: aliceblue;
}